<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAhwbsA-f-dJagVKbGsiqzTvIKm8fT0bg</string>
	<key>GCM_SENDER_ID</key>
	<string>822910198054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codespynner.io.takaconnect.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>takaconnectauth</string>
	<key>STORAGE_BUCKET</key>
	<string>takaconnectauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822910198054:ios:faa0a049768f1ea535a1e7</string>
</dict>
</plist>